/* Use your own code or past solution for Great Idea Web Page CSS here! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* { 
	
    box-sizing: border-box;
}

html, body {
    height: 100%;
	font-family: 'Titillium Web', sans-serif;
	margin: 30px;
	
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
/* start header here */

a { 
   text-decoration: none;
   color: rgb(175, 164, 164)
}

nav  { 
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 30px;
}

h1 { 
	width: 250px;
	font-size: 4em;
}

h2 { 
    text-align: left;
    padding: 0 10px;
    margin: 15px 0;
    
}


header { 
display: flex;
justify-content: center;
}


/* services.html classes start */


hr {
	margin: 30px;
}

li { 
	list-style-type: square;
}

p { padding: 0 10px

}

.serviceTitleFlex { display: flex;}

.hero { display: flex;
	justify-content: center;
	align-items: center;
	margin: 25px;
}

.h1halfSize { 
	font-size: 2em;
}

.servicesMargin { 
	50px;
}

.learnMore { 
	border: 1px solid black;
	border-radius: 8px;
	width: 100px;
	height: 25px;
	text-align: center;;
}


.flexServicesContainer {
	display: flex;
	width: 70%;
    
}

.flexServices { 
	display: flex;
	margin: 0.5em;
	flex-direction: column;
	background: rgb(230, 228, 228); 
	border: 1px solid black;
	
}

.flexSomeFacts { 
	display: flex;
	margin: 0.5em;
	flex-direction: column;
	width: 30%;
	
}

.flexSomeFactsimg { 
	display: flex;
	margin: 0.5em;
	flex-direction: column;
	
}

/* flexer is outermost flex container */

.flexer {
	
    display: flex;
	justify-content: center;
	}












/*index.html classes start */













.header-img { 
width: 300px
}

.flex {
	display: flex;
	justify-content: center;
}

.headerContainer {
  display: flex;
  justify-content: space-around;
  width: 60%;
}


.textCenter {text-align: center;}

.getstartedbox {
	font-size: 16px;
	font-family: Titillium Web;
	display: inline-block;
	border: solid 1px;
	padding: 10px 30px
}

.flexFeatures {
	display: flex;
	width: 60%;
	justify-content: space-around;
}

.contactFlex{ 
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	margin-left: 400px
}

.midImgAlign { 
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 25px;
}

footer { 
	text-align: center;
	margin-top: 50px
}



    /*mediaQ classes */
    @media(max-width: 800px) { .header-img {
        display: none;
    }.logo {
        align-self: center;
        background: pink; } .middle-img { width: 110%
        } .flexFeatures { width: 100% } .contactFlex {
                 margin: 0 auto;
              }
              .logo { order: -1;
            align-self: ;}
    

    
      
    

    
    
    
      
        @media(max-width: 500px) {
            
            .imgOrder { 
                order: -1;
                border-bottom: solid 2px;
                border-width: 100% 
               
                } nav { 
                
                flex-direction: column;
                text-align: center;
                
                
                } a { 
                
                    display: flex;
                flex-direction: column-reverse;
                padding: 10px;
                border-bottom: solid 2px black;
            
            } .flexFeatures {  
                flex-direction: column;
                width: 100%
                
            } .middle-img { width: 120%;
              } .contactFlex {
                 margin: 0 auto;
              }

           

    

        

    
  

            